<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://znuble-meli-aqbbagfkhtazeuad.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1407feab-735f-4480-a582-6162776b444d/resourceGroups/znube-meli/providers/Microsoft.Web/sites/znuble-meli</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://znuble-meli-aqbbagfkhtazeuad.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>